version: 2
jobs:
  build:
    # 自分の環境のNode.jsと同じバージョンのDockerイメージを使う
    docker:
      - image: circleci/node:11.9.0
    # 対象のブランチはmasterのみ
    branches:
      only:
        - master

    working_directory: ~/repo

    # 環境変数の設定。WebUI上でも設定できるけど、YMLでもできる。
    environment:
      FIREBASE_PROJECT_ID: $FIREBASE_PROJECT_ID
      FIREBASE_TOKEN: $FIREBASE_TOKEN

    # ここからが処理の始まり
    steps:
      # リポジトリをチェックアウトする
      - checkout

      #####################################################
      ### BUILD
      #####################################################
      # キャッシュのリストア処理。node_modulesを毎回installするのは重いので、キャッシュしとく
      - restore_cache:
          keys:
            # - v1-dependencies-{{ checksum "package.json" }}-{{ checksum "functions/package.json" }}
            - v1-dependencies-{{ checksum "functions/package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      
      # packageのインストール
      # - run: npm install
      # functionsのほうもnpm installする
      - run: cd functions && npm install
      # デプロイのときにfirebaseコマンドが使えるようにinstall
      - run: sudo npm install -g firebase-tools

      # キャッシュの保存処理。funstionsにもあるので、pathsに両方記載する
      - save_cache:
          paths:
            - node_modules
            - functions/node_modules
          # key: v1-dependencies-{{ checksum "package.json" }}-{{ checksum "functions/package.json" }}
          key: v1-dependencies-{{ checksum "functions/package.json" }}
      
      # いざ、ビルド
      - run: cd functions && npm run build
      
      #####################################################
      ### DEPLOY
      #####################################################
      
      # インストールしたfirebase-toolsは、node_modules/.bin/firebaseにあるので、それを使う
      # .firebasercにaliasを利用している場合は、firebase useする
      # - run: firebase use --project $FIREBASE_PROJECT_ID --token $FIREBASE_TOKEN
      - run: firebase deploy --only functions --project $FIREBASE_PROJECT_ID --token $FIREBASE_TOKEN

